body {
	font-size: 12pt;
	font-style: normal;
	color: #CCCCCC;
	background-image: url('/images/Fond.png');
	border-color: #cccccc;
}
p {
	text-align: center;
}
ul {
	width: 10%;
	margin: auto;
}
/*Title 1*/
h1 {
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	color: #999999;
}
/*Link*/
a:link {
	color: #6699CC;			/*blue*/
	text-decoration: none;
}
/*Link selected*/
a:active {
	color: #999999;			/*dark grey*/
	text-decoration: none;
}
/*Link visited*/
a:visited {
	color: #cc9966;			/*green*/
	text-decoration: none;
}
/*Mouse hover the link*/
a:hover {
	text-decoration: underline;
}
/*Dark grey color*/
span.DarkGreyColor {
	color: #999999;
}
/*Red color*/
span.RedColor {
	color: #cc9966;
}
/*Blue color*/
span.BlueColor {
	font-size: 16pt;
	color: #6699FF;
}
span.GreenColor
{
	color: #66FF66;
}
