@charset "utf-8";
/*=========================  mono-dark.css  ==========================*/
/* Terminal-like monospace dark css theme with dynamic ascii tables. */

* {
    background-image: url('/images/Fond.png');
    color: #cccccc;
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    padding-right: 8px;
    padding-left: 8px;
    min-width: 480px;
}
#side-heading {
    display: inline-block;
    float: right;
    text-align: right;
}

#side-links {
    display: inline-block;
    margin-left: 8px;
    float: right;
}

#side-links a {
    font-weight: bold;
}

