@charset "utf-8";
/*=========================  mono-dark.css  ==========================*/
/* Terminal-like monospace dark css theme with dynamic ascii tables. */

* {
    background-image: url('/images/Fond.png');
    color: #cccccc;
    font-weight: normal;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    padding-right: 8px;
    padding-left: 8px;
    min-width: 480px;
}
#side-heading {
    display: inline-block;
    float: right;
    text-align: right;
}

#side-links {
    display: inline-block;
    margin-left: 8px;
    float: right;
}

#side-links a {
    font-weight: bold;
}

a {
    color: #0055ff;
}
a:hover {
    color: #00bbff;
}

pre {
    font-weight: bold;
    color: #333333;
}
pre .code {
    font-weight: bold;
    color: #777777;
}
pre .code .var {
    font-style: italic;
    font-weight: bold;
    color: #555588;
}
pre .emph {
    color: #333333;
    font-weight: bold;
    font-style: italic;
}

.heading {
    font-weight: bold;
    color: #00bbff;
}
.file, .emph, .var {
    font-style: italic;
}
.var {
    color: #6666aa;
}

/* control content by character width: */
.char140, .char120, .char100, .char80, .char60 {
    display: none;
}
@media only screen and (min-width: 1161px) {
    .char120, .char100, .char80, .char60 {
        display: none;
    }
    .char140 {
        display: inline;
    }
}
@media only screen and (max-width: 1160px) {
    .char140, .char100, .char80, .char60 {
        display: none;
    }
    .char120 {
        display: inline;
    }
}
@media only screen and (max-width: 1000px) {
    .char140, .char120, .char80, .char60 {
        display: none;
    }
    .char100 {
        display: inline;
    }
}
@media only screen and (max-width: 840px) {
    .char140, .char120, .char100, .char60 {
        display: none;
    }
    .char80 {
        display: inline;
    }
}
@media only screen and (max-width: 680px) {
    .char140, .char120, .char100, .char80 {
        display: none;
    }
    .char60 {
        display: inline;
    }
}
