@charset "UTF-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Verdana);
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.myclear {
	clear: both;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 100%;
	background-image: url("../images/body_bg.jpg");
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
}
#container {
	max-width: 1200px;
	min-height: 100vh;
	margin: 0 auto;
	background-color: rgba(150,150,250,0.7);
	box-shadow: 0px 0px 20px 10px rgba(120, 120, 250, 0.75);
}
header {
	background-image: url("../images/header_bg.jpg");
	background-size: 100% 100%;
	text-align: center;
	position: relative;
	height: 12vw;
	box-sizing: border-box;
}
h1 {
	background-color: #ccc;
	color: #f11;
	border: 1px solid #000;
	padding: 20px;
	box-sizing: border-box;
	left: 0; 
	right: 0; 
	max-height: 12vw;
	margin-left: auto; 
	margin-right: auto; 
	width:50%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}
main {
	padding-bottom: 15px;
}
#vote {
	max-width: 1180px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 2%;
	background-color: #0cf;
}
#results {
	max-width: 1180px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	position: relative;
	background-color: #cff;
}
#totals {
	position: relative;
	max-width: 1180px;
	border: 1px solid black;
	margin: 10px;
	text-align: center;
	background-color: #cf0;
	font-size: 24px;
}
/*Opt styles***************************************/


.myopt { /*things mutual to all options*/
	width: 20%;
	height: 0px;/*this is the base height, it grows from here*/
	background-size: 100%;
	background-position: center;
	background-repeat: repeat-y;
	position: absolute;
	bottom: 10px;
	overflow: hidden;
}
#optA {
	left: 10%;
	background-image: url("../images/optA_middle.jpg");
}
#optB {
	left: 40%;
	background-image: url("../images/optB_middle.jpg");
}
#optC {
	right: 10%;
	background-image: url("../images/optC_middle.jpg");
}
.myopttop {/*a class for all 3 "heads"*/
	width: 100%;
	position: absolute;
	top: 0px;/*stick to the top of parant!*/
	left: 0px;
}
.myoptbottom {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	padding: 4px;
	color: #000;
	font-size: 11px;
	background-color: #fff;
}
